
// --------------------------Font-color-----------------------------------

// for dark
$dark-25:#000;
$dark-50:#5d5a54;
$dark-60:#66635e;
$dark-65:#808080;
$dark-70:#696969;
$dark-75:#9c9e84;
$dark-80:#e3dfdfb5;

// secodary
$secondary-25:#fff;

// danger
$danger-50:#af2547;

// ------------------Font-Size------------------

$font-base:14px;
$font-regular:16px;
$font-md:18px;
$font-lg:20px;
$font-xlg:24px;
$font-xxlg:30px;

// -------------------Font-weight----------------------

$font-weight-base:500;
$font-weight-regular:600;
$font-weight-md:700;
$font-weight-bold:900;


